body {
    background: grey;
    line-height: 21px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    color:  gold;
    font-style: Times;
    font-weight: lighter;
    border-bottom: 1px solid white;
    position: relative;
    bottom: 1px;
   
    
}

h2 {
    text-align: center;
    font-style: Times;
    font-weight: lighter;
    color: white;
    position: relative;
    bottom: 15px;
    
}

h3 {
    color: white;
}

#image {
    display:block;
    position:relative;
    left: 530px;
    bottom: 18px;
    margin: 0 0 10px 0;
    height: auto;
    max-width: 100%;
  }
  
   
    
    
}

#tribute-info {
    text-decoration: underline;
    position: relative;
    left: 400px;
    
}

ul {
    color: white;
    font-size: bold;
    list-style-position: outside;
    
    margin-left: 0px;
    padding-left: 200px;
}

#img-caption {
    color: gold;
   text-align: center;
  position: relative;
  bottom: 20px;
   
  
  
   }


p {
    color: white;
    text-align: center;
}

#Quote {
    color: white;


}

blockquote {
    color: gold;
    font-style: italic;
    text-align: center;
}

footer {
    text-align: center;
    color: gold;
}